In [1]:
a = input()
print("inserted number : ", a)

123
inserted number :  123

In [3]:
print("inserted number:", input())

2
inserted number: 2

In [6]:
name = input("type your name")
age = input("type your age")

print("your name is ", name, "your age is ", age)

type your namekangyeol
type your age30
your name is  kangyeol your age is  30

### input 은 string, int로 숫자를 변환해줄 필요있다.

In [7]:
a = input
b = input
print(a*b)

TypeError: unsupported operand type(s) for *: 'method' and 'method'

In [10]:
a = int(input())
b = int(input())
print(a*b)

3
2
6

In [16]:
True if int(input("firstnumber: ")) + int(input("secondnumber: ")) == int(input("thirdnumber: ")) else False

firstnumber: 3
secondnumber: 5
thirdnumber: 7

False

In [22]:
a = input("type your age: ")
print("2055년 지수의 나이는 ", (int(a)+35), "세입니다")

type your age: 20
2055년 지수의 나이는  55 세입니다

In [23]:
age = int(input("type your age:"))
print("2055년 지수의 나이는 {}세 입니다.".format(age + 35))

type your age:20
2055년 지수의 나이는 55세 입니다.

In [40]:
a = int(input("insert number a: "))
b = int(input("insert number b: "))
c = int(input("insert number c: "))
d = int(input("insert number d: "))

insert number a: 1
insert number b: 3
insert number c: 5
insert number d: 7

In [42]:
avg = (a + b+ c + d)/ 4
avg

4.0

In [43]:
sentence = input('문장을 입력하세요: ')
print("해당 문장의 단어 수는 {}개 입니다".format(len(sentence.split())))

문장을 입력하세요: 나는 서울에서 태어났다.
해당 문장의 단어 수는 3개 입니다