In [1]:
fruits = ["apple", "pear", "peach", "melon"]

In [12]:
cars = ["Hyundai"]

In [20]:
cars.remove("Benz")
cars

['Hyundai', 'Benz']

In [28]:
sports = ["soccer"]

In [29]:
sports

['soccer']

In [30]:
sports.extend(["baseball", "hockey"])
sports

['soccer', 'baseball', 'hockey']

In [31]:
sports.insert(1, "tennis")
sports

['soccer', 'tennis', 'baseball', 'hockey']

In [32]:
sports.reverse()
sports

['hockey', 'baseball', 'tennis', 'soccer']

In [46]:
num = []
for i in range(1,11):
    num.append(i)
num = tuple(num)

In [47]:
sum(num)

55

In [49]:
b = tuple(i for i in range(10) if i % 2 == 0)

In [50]:
b

(0, 2, 4, 6, 8)

In [60]:
Dahyun = {"height": "158cm", "age": "21", "birth" : "May 28th", "group": "twice"}
print("Dahyun is {}".format(Dahyun['height']))
print("Dahyun belongs to {}".format(Dahyun["group"]))

Dahyun is 158cm
Dahyun belongs to twice

In [67]:
Tony = {"Korean": 100, "English": 93, "Mathmateics": 98, "Science": 86}

In [68]:
average = sum(Tony.values())/len(Tony.values())

In [69]:
average

94.25

In [1]:
jobs = {"김연아": "피겨스케이팅", "박지성" : "축구"}
print(jobs)

{'김연아': '피겨스케이팅', '박지성': '축구'}

In [2]:
jobs["정현"] = "테니스"

In [3]:
print(jobs)

{'김연아': '피겨스케이팅', '박지성': '축구', '정현': '테니스'}

In [73]:
del(jobs["박지성"])

In [8]:
jobs = {"김연아": "피겨스케이팅",
        "박지성": "축구",
        "정현": "테니스",
        "박태환": "수영"}

In [9]:
var = list(jobs.keys())[2]
var

'정현'

In [85]:
result = jobs.get("정현")
result

'테니스'

In [86]:
print("{}은 {}선수이다".format(var, result))

정현은 테니스선수이다

In [87]:
midterm = {"Wonjeong": 99, "Kyunghoo":76, "Hyunsoo":83}

In [100]:
sum(list(midterm.values()))/len(midterm.values())

86.0