In [71]:
nums = []
for i in range(1,11):
    nums.append(i)
tuple(nums)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [72]:
sum(nums)

55

In [85]:
divisor_a = []
divisor_b = []

for i in range(1, 17):
    if 16 % i == 0:
        divisor_a.append(i)
divisor_a

for i in range(1, 31):
    if 30 % i == 0:
        divisor_b.append(i)
divisor_a

[1, 2, 4, 8, 16]

In [86]:
divisor_b

[1, 2, 3, 5, 6, 10, 15, 30]

In [89]:
set(divisor_a) & set(divisor_b)

{1, 2}

In [90]:
num = input("insert number").split(" ")

insert number15 32 44

In [91]:
len(num)

3

In [92]:
set(num)

{'15', '32', '44'}

In [94]:
a = ["alpha", "bravo", "charlie", "delta", "echo", "foxtrot", "golf", "hotel", "india"]

In [98]:
b = []
for i in a:
    if len(i) == 5:
        b.append(i)

In [99]:
b

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [105]:
scores = {"Wonjeong":{"수학":76, "과학":89, "영어":93},
         "Juwon":{"수학":88, "과학":87, "영어":100},
         "Seohee":{"수학":86, "과학":93, "영어":82}}

In [106]:
scores.keys()

dict_keys(['Wonjeong', 'Juwon', 'Seohee'])

In [120]:
average = []
for i in scores:
    b = (sum(scores[i].values())/ len(scores[i].keys()))
    print("{}의 {}과목 평균은 {}입니다.".format(i, len(scores.keys()), b))
    average.append(b)
average

Wonjeong의 3과목 평균은 86.0입니다.
Juwon의 3과목 평균은 91.66666666666667입니다.
Seohee의 3과목 평균은 87.0입니다.

[86.0, 91.66666666666667, 87.0]

In [121]:
total_average = sum(average) / len(average)

In [122]:
total_average

88.22222222222223

In [127]:
4 // 3

1

In [181]:
N = int(input("insert number"))

if N <= 26:
    print(chr(64+N), chr(96+N))
else:
    print("N must be less than equal to 26")

insert number26
Z z

In [186]:
str1 = "This is my best".split(" ")
str2 = "Do your best".split(" ")

set1, set2 = set(str1), set(str2)
set1 & set2

{'best'}

In [195]:
num = input("insert 6 numbers").replace(" ", "")

insert 6 numbers34 15 2 64 194 7

In [201]:
print(num, len(num))

34152641947 11

In [202]:
len(num) // 3.5

3.0

In [203]:
for i in range(4):
    print(i)

0
1
2
3

In [221]:
hello = []
for i in range(4):
    b = num[3*i:(int(len(num)//3.5))*(1+i)]
    hello.append(b)

In [240]:
hello

['341', '526', '419', '47']

In [246]:
hello2 = []
for i in hello:
    b = int(i)
    hello2.append(b)
hello2

[341, 526, 419, 47]

In [247]:
sum(hello2)

1333

In [1]:
print("Enter six numbers :", end="")

Enter six numbers :

In [6]:
for i in range(0, len(str), 3):
    print(i)

0
3
6
9

In [5]:
str = input().replace(" ", "")
answer = 0
for i in range(0, len(str), 3):
    if (i+3 > len(str)):
        answer += int(str[i : len(str)])
    else:
        answer += int(str[i : i+3])
print(answer)

34 15 2 64 194 7
1333

In [4]:
for i in range(0,10,4):
    print(i)

0
4
8