In [1]:
#16의 약수, 30의 약수, 이중 공집합?ㅁ

In [20]:
# a = 1 2 4 8 16, 
# b = 1, 2, 3, 5, 6, 10, 15, 30

In [27]:
set_a = []
for i in range(5):
    set_a.append(2**i)
set_a= set(set_a)
set_a

{1, 2, 4, 8, 16}

In [48]:
3%3

0

In [59]:
set_b= []
for i in range(1,31):
    if 30 % i == 0:
         set_b.append(i)


set_b = set(set_b)

In [60]:
set_b

{1, 2, 3, 5, 6, 10, 15, 30}

In [62]:
set_a & set_b

{1, 2}

In [67]:
num = input("insert number")
num = set(num.split(" "))

insert number13 15 17

In [69]:

type(num)

set

In [70]:
len(num)

3

In [71]:
max(num)

'17'

In [74]:
a = ["alpha", "bravo", "charlie", "delta", "echo", "foxtrot", "golf", "hotel", "india"]
b = []

for i in a:
    if len(i) == 5:
        b.append(i)
b

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [75]:
scores = {"Dohee":{"수학": 76, "과학":89, "영어":93},
         "Juwon":{"수학": 88, "과학":87, "영어":100},
         "Seohee":{"수학": 86, "과학":93, "영어":82}}
scores

{'Dohee': {'수학': 76, '과학': 89, '영어': 93},
 'Juwon': {'수학': 88, '과학': 87, '영어': 100},
 'Seohee': {'수학': 86, '과학': 93, '영어': 82}}

In [105]:
averages = []

for i in scores.keys():
    each_student_avg = (sum(scores[i].values()) / len(scores[i].values()))
    print("{} 평균은 {}".format(i, each_student_avg))
    averages.append(each_student_avg)
    
total_averages = sum(averages)/len(averages)
print("{}의 평균은 {}".format("전체",total_averages))

Dohee 평균은 86.0
Juwon 평균은 91.66666666666667
Seohee 평균은 87.0
전체의 평균은 88.22222222222223

In [94]:

sum(scores["Seohee"].values())/3

87.0