In [1]:
i = 5

print("Count Down Starts!")
while i >= 0 :
    print(i)
    i -= 1
print("Boom!")

Count Down Starts!
5
4
3
2
1
0
Boom!

In [2]:
i = 1
while True:
    i += 1
    if 3 <= i <= 5 :
        continue
    print(i, '번째...')
    if i == 7:
        break

2 번째...
6 번째...
7 번째...

In [6]:
num = 10
while num <= 18:
    print(num); num += 2

10
12
14
16
18

In [9]:
num = 1

while num <= 100:
    print(num, end = " ")
    num *= 2

1 2 4 8 16 32 64

In [15]:
while True:
    if "q" == input("insert random alphabet(lower) until you get correct answer lol : "):
        print("finish")
        break

insert random alphabet(lower) until you get correct answer lol : a
insert random alphabet(lower) until you get correct answer lol : bad
insert random alphabet(lower) until you get correct answer lol : cd
insert random alphabet(lower) until you get correct answer lol : q
finish

In [33]:
# 170
num = input("insert two numbers. numberse must be split by space").split(" ")
num = list(map(int,num))

a = (min(num) // 5 * 5) + 5
while True:
    print(a)
    a+=5
    if a > max(num):
        break

inser two numbers. numberse must be split by space3 17
5
10
15

In [37]:
for i in range(10, 5, -1):
    print(i, end = ' ')

10 9 8 7 6

In [43]:
L = [1, 9, 4, 13, 5, 6]

for i in L:
    if i in range(5, 10):
        continue
    elif i == 13:
        print("we are looking for 13")
        break
    else:
        print(i)

1
4
we are looking for 13

In [44]:
mylist = ["cake", "strawberry", 100, "choco", 3.14]

num = 1

for i in mylist:
    print(i, num)
    num *= 2

cake 1
strawberry 2
100 4
choco 8
3.14 16

In [45]:
#175
num = int(input("Enter the number : "))
a = (num + 5) % 7 

for i in range(a):
    if (num + 2 * i) % 2 == 0:
        num = (num + i) // 2
    else:
        num += 1
print("result : ", num)

Enter the number : 20
result :  4

In [69]:
#176 
a = int(input("Enter the 1st number : "))
b = int(input("Enter the 2nd number : "))

if a > b:
    c = a
    a = b
    b = c

sum = 0
for i in range(a, b):
    if i % 3 == 0:
        sum += i
print(sum)

Enter the 1st number : 71
Enter the 2nd number : 60
258

In [74]:
n = int(input("insert integer that is bigger than 0: "))

sum = 0
for i in range(1, n+1):
    sum += i
print(sum)

insert integer that is bigger than 0: 7
28

In [ ]:
n = 2018
sum = 0
while (n > 0):
    sum += (n & 10)
    n = n & (n - 10)º
print(sum)

In [105]:
2018 & 10

2

In [109]:
-8 & 2

0

In [83]:
bin(2018)

'0b11111100010'

In [107]:
bin(2)

'0b10'

In [ ]:
n = 2018
i = 1
sum = 0
a = 0
while (n > 0):
    if (n % 10 == 2):
        sum += (n // 10) * i + (a + 1)
    elif (n % 10)

In [110]:
2018 // 10

201

In [112]:
n = 2018
i = 1
sum = 0
a = 0
while (n > 0):
    if (n % 10 ==2):
        sum += (n // 10) * i + (a + 1)
    elif (n % 10 > 2):
        sum += (n // 10 + 1) * i
    else:
        sum += (n // 10) * i
    a += i * (n % 10)
    i *= 10
    n //= 10
print(sum)

621

In [113]:
201

sum = 202 * 1 + 200 + 212

a = 201 + 10 + 1
i = 10 * 10

n = 201, 2

201

In [145]:
#180
num = int(input("insert prime number"))

b = []
for i in range(1, num+1):
    
    if num % i == 0:
        b.append(i)


if len(b) > 2 or num == 1:
    print("{} is not a prime number".format(num))
else:
    print("{} is a prime number".format(num))

insert prime number34
34 is not a prime number

In [151]:
num = input("Enter the number")

Enter the number12345

In [152]:
len(num)

5

In [156]:
# 181
num = input("Enter the number")
sum = 0
for i in range(len(num)):
    sum += int(num[i])
print(sum)

Enter the number13547
20

In [158]:
numbers = []
for i in range(0, 10):
    numbers.append(i)
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [166]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [170]:
# 182
num = input("insert number")
numbers = []
for i in range(0, 10):
    numbers.append(i)
numbers = list(map(str,numbers))
num_dot = 0
isNum = True
    
for i in num:
    if not i in numbers:
        if i =='.':
            num_dot += 1
            if num_dot == 2:
                isNum = False
                break
        else:
            isNum = False
            break
print(num + ' is numbers?', isNum)

insert number16.2
16.2 is numbers? True

In [ ]:
print("{} is numbers?".format(num))

### 입력한 문자열이 숫자인지 판별해주는 프로그램을 작성하시오. 
(ex. 132o2 -> 숫자가 아님, 1.32 ->숫자가 맞음)

ex)

    1.  Entered number : 167o7
        167o7 is numbers? False
    2.  Entered number : 142.572
        142.572 is numbers? True

In [205]:
#183
num = input("insert numbers. two numbers must be separated by space. you put: ").split(" ")
num = list(map(int,num))

e = []
for i in range(min(num), max(num)+1):
    if i % 2 == 0:
        e.append(-i)
    else:
        e.append(+i)

sum(e)

insert numbers. two numbers must be separated by space. you put: 4 13

5

In [207]:
# 184

sum = 0

for i in range(0, 300):
    if i % 2 ==0:
        sum -= i
    else:
        sum += i
    if sum == 100:
        print(i)
        break

199

In [213]:
# 185
n = int(input("insert number"))

len = 1
while n != 1:
    
    if n % 2 == 0:
        n= n/2
    else:
        n= 2*n+ 2
    len += 1

print(len)

insert number17
14

In [218]:
# 185 (HandsomeQ)
n = int(input("insert number"))

num = [n]
while n != 1:
    
    if n % 2 == 0:
        n= n/2
        num.append(n)
    else:
        n= 2*n+ 2
        num.append(n)
    

print(num)
print("length : ", len(num))

insert number17
[17, 36, 18.0, 9.0, 20.0, 10.0, 5.0, 12.0, 6.0, 3.0, 8.0, 4.0, 2.0, 1.0]
length :  14

In [214]:
del(len)