<img src="./imgs/랜선자르기.png" width="60%">

In [ ]:
# 가장 작은 숫자를 먼저 찾아가서 .. 이거 이런식으로 해야하는것같은데

In [6]:
K, N = map(int, input().split())
a = []
for i in range(K):
    a.append(int(input()))
a.sort()

4 11
802
743
457
539

In [8]:
a

[457, 539, 743, 802]

In [ ]:
# 아무튼 K 보다 크나 K와 가장 근접한 숫자로 자를 수 있어야한다.

In [11]:
sum(a)//11

231

In [ ]:
# 4개의 숫자를 모두 더해줘서 11개로 한다면 가장 lowest인 457이 안되니, 457//2 인
228 이라는건데, 228로는 743까지는 3개가 되나 802는 안된다

In [14]:
802 // 228

3

In [18]:
231 // 2

115

In [23]:
start = sum(a)//N
end = max(a)
mid = start


count = 0


for value in a:
    count += value // mid
print(count)

while 


if count < N:
    mid = mid // 2
elif count > N:
    mid = (mid + start) // 2

9

In [27]:
# N = 11
start = sum(a)//N
end = max(a)
mid = start
result = 0

while True:
    count = 0
    
    for value in a:
        count += value // mid
        
        
    if count == N:
        result = mid
        break
#         while count+1 > count:
#             result = result+1
            
        
    elif count < N:
        mid = mid // 2
    elif count > N:
        mid = (mid + start) // 2

In [28]:
result

198

In [ ]:
# 198이 최댓값이 아니니까